In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [4]:
data = pd.read_csv('housing.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'housing.csv'

In [5]:
data.describe()

NameError: name 'data' is not defined

In [18]:
data.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [19]:
data.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [20]:
#Handling null values by replacing it --->optional
smi = SimpleImputer(strategy='mean',missing_values=np.nan)
data['total_bedrooms'] = smi.fit_transform(data[['total_bedrooms']])

In [21]:
data.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [22]:
#Handling null values by removing the rows ->>optional
data = data.dropna(axis='index',how='any')

In [23]:
data.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [24]:
data.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924664,-0.108197,0.044568,0.069260,0.099773,0.055310,-0.015176,-0.045967
latitude,-0.924664,1.000000,0.011173,-0.036100,-0.066658,-0.108785,-0.071035,-0.079809,-0.144160
housing_median_age,-0.108197,0.011173,1.000000,-0.361262,-0.318998,-0.296244,-0.302916,-0.119034,0.105623
total_rooms,0.044568,-0.036100,-0.361262,1.000000,0.927253,0.857126,0.918484,0.198050,0.134153
total_bedrooms,0.069260,-0.066658,-0.318998,0.927253,1.000000,0.873910,0.974725,-0.007682,0.049454
population,0.099773,-0.108785,-0.296244,0.857126,0.873910,1.000000,0.907222,0.004834,-0.024650
households,0.055310,-0.071035,-0.302916,0.918484,0.974725,0.907222,1.000000,0.013033,0.065843
median_income,-0.015176,-0.079809,-0.119034,0.198050,-0.007682,0.004834,0.013033,1.000000,0.688075
median_house_value,-0.045967,-0.144160,0.105623,0.134153,0.049454,-0.024650,0.065843,0.688075,1.000000

In [25]:
lbe = LabelEncoder()

data['ocean_proximity'] = lbe.fit_transform(data['ocean_proximity'])

In [26]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,3
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,3
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,3
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,3
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,3
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,1
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,1
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,1
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,1
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,1

In [27]:
# Drop Ocean_proximity column

data.drop('ocean_proximity',axis='columns', inplace=True )

In [28]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0
...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0

In [29]:
X = data.iloc[:, 0:8]
y = data.median_house_value

scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [102]:
X_train,X_test,y_train,y_test = train_test_split(X_std,y,test_size=0.2,random_state=2)
print('X Training Shape: ', X_train.shape)
print('Y Training Shape: ',y_train.shape)
print('X Test Shape: ', X_test.shape)
print('Y Test Shape: ',y_test.shape)

X Training Shape:  (16512, 8)
Y Training Shape:  (16512,)
X Test Shape:  (4128, 8)
Y Test Shape:  (4128,)

In [143]:
mlp = MLPRegressor(hidden_layer_sizes = (200,140), activation = 'relu', solver = 'lbfgs')
mlp

MLPRegressor(hidden_layer_sizes=(200, 140), solver='lbfgs')

In [144]:
mlp.fit(X_train, y_train)

D:\Software\Anaconda\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPRegressor(hidden_layer_sizes=(200, 140), solver='lbfgs')

In [145]:
print(mlp.score(X_train,y_train)*100)

80.59997215030063

In [146]:
print(mlp.score(X_test,y_test)*100)

79.26673959475639

In [120]:
sample = np.array([-121.24,39,16.0,2758.0,616.0,1387.0,530.0,2.3886])
sample = np.expand_dims(sample,0)
sample.shape

(1, 8)

In [117]:
y_test

10385    278700.0
1943     207600.0
7490      96700.0
16889    353800.0
11416    390500.0
           ...
13767    146600.0
20606     56600.0
7340     176000.0
14312     77300.0
20262    235400.0
Name: median_house_value, Length: 4128, dtype: float64

In [118]:
# math behind standard (doubt solve)
temp = np.array([[10,33,22,42,1,6,8]])
print(np.mean(temp))
print(np.std(temp))

17.428571428571427
14.201178450669337

In [119]:
temp_std = scaler.fit_transform(temp)
print(np.mean(temp_std))
print(np.std(temp_std))

0.0
0.0